.app {
  text-align: center;
  margin-top: 50px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

button {
  background-color: #2aa7ff;
  border-radius: 5px;
  color: white;
  border: none;
  height: 30px;
  margin-top: 5px;
}

input {
  width: 200px;
  margin-top: 1px;
}
p {
  margin-bottom: 1px;
}
